{% extends "base.html" %}
{% load static%}
<title>{% block title %}سبر | الصفحة الرئيسية{% endblock %}</title>
{% block content %}

<div class="container">

    <div class="consultation-cta">
        <p class="cta-subtext translatable" data-translate="spe">استشارات متخصصة في اللغويات الجنائية والاحتيال المالي</p>
        <a href="{% url 'consult' %}" class="cta-button" id="consultBtn" data-translate="req">
            <i class="fas fa-handshake "></i>
            <h class="translatable" data-translate="req">احصل على استشارة مجانية من خبراء Sabr Revival  </h>
        </a>
        <a href="{% url 'seminar' %}" class="cta-button1" id="consultBtn1" data-translate="req1">
            <i class="fas fa-handshake "></i>
            <h class="translatable" data-translate="req1">حجز الندوات للجهات الحكومية والخاصة</h>
        </a>
        

    </div>
</div>
<div style="height: 20px; background-image: radial-gradient(#888 1px, transparent 1px); background-size: 10px 10px; margin: 40px 0;"></div>
<header class="hero">
    <div class="hero-content">
        <div class="logo">
            <img src="{% static 'image/logo.png' %}" alt="">
        </div>
        <br></br>
        <span class="title translatable" data-translate="cer">خبراء معتمدون في اللغويات الجنائية</span>
        <p class="translatable" data-translate="for">تحليل لغوي جنائي - كشف التزوير - التحقيق في جرائم الاحتيال المالي - خبرات جنائية</p>
        <a class="bta" href="{% url 'contact' %}" class="translatable" data-translate="con" style="
            display: inline-block;
            background: #1a2c4a;
            color: white;
            padding: 12px 30px;
            border-radius: 30px;
            text-decoration: none;
            font-weight: bold;
            margin-top: 20px;
            transition: all 0.3s;
        ">تواصل معنا</a>
    </div> 
</header>
<div style="height: 20px; background-image: radial-gradient(#888 1px, transparent 1px); background-size: 10px 10px; margin: 40px 0;"></div>
{% endblock %}
        

